[Unit]
Description=JetBot
After=syslog.target network.target

[Service]
User=root
Group=root

Restart=always
RestartSec=30

Type=idle
WorkingDirectory=/opt/jetbot
ExecStart=/usr/bin/python3 launch.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
